.features {
  display: flex;
  align-items: center;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.tab-button-list {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 4px;
  border-radius: 40px;
  border: 1px;
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  z-index: 10;
}
[data-theme="dark"] .tab-button-list {
  background-color: rgb(#ffffff, 0.05);
  border: 1px;
  border-color: #334155;
}

.mobile-active-button {
  background-color: white;
  width: 232px;
  padding: 20px 32px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  z-index: 20;
}

.tab-button-pulldown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-button-base {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 32px;
  border: 0;
  padding: 16px 32px 16px 28px;
}

.tab-button-active {
  background: linear-gradient(83.83deg, #0047ff, #00d4ff);
  color: white;
}

.tab-button-inactive {
  background-color: transparent;
  color: currentColor;
}

.pulldown-button-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(#ffffff, 0.95);
  border-radius: 4px;
  gap: 4px;
  padding-top: 35px;
  width: 345px;
  position: absolute;
  top: 35px;
  z-index: 10;
}

.pulldown-button-active {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.15);
}
