@import "../../../css/custom.scss";

.feature-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  @media (min-width: $md) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
  }
  @media (min-width: $xl) {
    row-gap: 40px;
    column-gap: 40px;
  }
}

.feature-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 300px;
  max-width: 300px;
  height: fit-content;
  border-radius: 6px;
  padding: 38px 24px;
  gap: 20px;
  background-color: #d6edff;
}
[data-theme="dark"] .feature-links {
  background-color: rgb(#0075ff26, 0.15);
}

.builders-links {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  gap: 10px;
}

.builders-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 24px;
  border-radius: 6px;
  background-color: #d6edff;
  transition: 0.3s;
  &:hover {
    transform: scale(1.03);
    transition: 0.3s;
  }
}
[data-theme="dark"] .builders-card {
  background-color: rgb(#0075ff26, 0.15);
}

.links-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.website-button {
  padding: 12px 24px 12px 28px;
  border-radius: 100px;
  color: white;
  border: 0;
  background: linear-gradient(83.83deg, #0047ff, #00d4ff);
}

.website-button {
  transition: all;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.icon-and-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.tab-title {
  font-weight: 600;
  font-size: 16px;
}

.tab-text {
  font-size: 14px;
  color: #64748b;
}

.button-text {
  color: white;
}
